@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
  top: 0;
}

@layer components {
  .bg-circle-background {
    background: radial-gradient(circle, #98b9eb 55%, #ffffff4d 55%, #adc6ef 100%);
    opacity: 0.35;
    border-radius: 50%;
    position: fixed;
    z-index: -1;
  }

  .bg-circle {
    width: 100vw;
    height: 100vw;
    @apply bg-circle-background;
  }
}

@layer utilities {
  .page-scrollbar::-webkit-scrollbar {
    height: 14px;
  }

  .page-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #cccdd9;
    border: 2px solid #cccdd9;
  }

  .page-scrollbar::-webkit-scrollbar-thumb {
    background: #A7ACC6;
    border-radius: 100vh;
    border: 3px solid #cccdd9;
  }

  .card-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .card-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #E2E4F2;
    border: 2px solid #E2E4F2;
  }

  .card-scrollbar::-webkit-scrollbar-thumb {
    background: #B6C9E6;
    border-radius: 100vh;
    border: 2px solid #E2E4F2;
  }
}